extends ../layout.pug

block content
  h2 Password Reset
  p 
    | Please enter the email you used to create your account into the form below.
    br
    | An email will be sent with instructions for how to reset your email.
  form#resetPassword( method='post' )
    div.inputGroup
      label( for='email' ) Email: 
      input( id='email' type='email' name='email' value=email )
    div
      button( type='submit' ) Reset Password
    if error
      div
        span( style={'font-size': 'small'} ).color-error= error
