extends ../layout.pug

block title
  title Password Reset

block content
  h2 Password Reset
  p 
    | Please enter your new password.
  form#resetPassword( method='post' )
    .inputGroup
      label( for='newPassword' ) New password:
      input( id='newPassword' name='newPassword' type='password' )
    .inputGroup
      label( for='confirmPassword' ) Confirm new password:
      input( id='confirmPassword' name='confirmPassword' type='password' )
    div
      button( type='submit' ) Reset Password
    div
      a.link.link-animated( href=`${ADDR_PREFIX}/forgot-password` ) Request a new reset link
    if error
      div
        span( style={'font-size': 'small'} ).color-error= error
