* {
  box-sizing: border-box;
}

body {
  background-color: #e9e9e9;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.center {
  text-align: center;
}

.hidden {
  display: none !important;
}

.page {
  padding: 0 16vw;
}

.navbar {
  display: flex;
  margin: 8px;
  justify-content: space-between;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  background-color: #f3f3f3;
  position: sticky;
  top: -1px;
  z-index: 1;
  transition: margin 0.1s;
  overflow: hidden;
}

.nav-fullwidth {
  margin: 8px 0;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.navbarBtns {
  display: flex;
  padding: 0;
  margin: 0;
}

.navbarBtn {
  display: inline-block;
}

.navbarBtnLink {
  text-decoration: none;
}

.navbarText {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
}

.navbarBtnLink:hover {
  background-color: #ddd;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 330px;
  height: 160px;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 30%);
}

.cardLink {
  color: black;
  text-decoration: none;
}

.cardLink:hover {
  color: #666;
}

.cardBtn {
  margin: 2px;
  padding: 3px 3px 3px 3px;
  font-size: 12px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  box-shadow: 0px 0px 8px #d9d9d9;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
}

.color-error {
  color: red;
}

.userIcon {
  border-radius: 50%;
}

.sheet {
  padding: 20px;
  background-color: #fefefe;
  border-radius: 4px;
}

.itemTab {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.itemKey {
  width: 350px;
  padding: 16px;
  margin: 4px;
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input, select {
  padding: 6px;
  border: 1px solid silver;
  border-radius: 4px;
}

button {
  padding: 6px 12px;
  background-color: #f0f0f0;
  border: 1px solid silver;
  border-radius: 8px;
  transition: box-shadow 0.1s;
}

button:hover {
  box-shadow: silver 0px 0px 4px;
}

button:active {
  background-color: #e2e2e2;
}

.inputGroup {
  display: grid;
  grid-template-columns: 1fr 8px 2fr 3fr;
}

.inputGroup label {
  grid-column: 1 / 1;
  align-self: center;
}

.inputGroup input {
  grid-column: 3 / 3;
}

.editor {
  display: grid;
  margin: 12px 0;
}

.editor::after {
  grid-area: 1 / 1 / 2 / 2;
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}

.editor textarea {
  overflow: hidden;
  resize: none;
}

.editor::after,
.editor textarea {
  grid-area: 1 / 1 / 2 / 2;
  font-family: monospace;
  font-size: 16px;
  padding: 12px;
  background-color: #fefefe;
  border-radius: 4px;
  border: none;
  outline: none;
}

/* .editor::after:focus, */
.editor textarea:focus {
  box-shadow: black 0px 2px 5px 0px;
}

.markdown {
  font-size: 17px;
  line-height: 1.33;
}
.markdown p {
  text-indent: 32px;
}

/* Fancy Links */
.link {
  position: relative;
  text-decoration: none;
  border: none;
}
.link.link-animated {
  color: #069;
}
.link:not(.link-animated) {
  color: black;
}
.link:focus, .link:hover {
  outline: none;
}
.link:focus.link-broken, .link:hover.link-broken {
  color: red;
}
.link:focus:not(.link-broken).link-animated, .link:hover:not(.link-broken).link-animated {
  color: #069;
}
.link:focus:not(.link-broken):not(.link-animated), .link:hover:not(.link-broken):not(.link-animated) {
  color: #666;
}
.link:after.link-broken {
  color: red;
}
.link:after:not(.link-broken) {
  color: #069;
}
.link-animated:after {
  content: '';
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: #069;
  transition: 0.2s;
}
.link-animated.link-broken:after {
  background: red;
}
.link-animated:hover:after {
  width: 100%;
}
.link-animated:focus:after {
  width: 100%;
}
.link-background {
  padding: 3px 10px 3px 10px;
  border-radius: 50px;
  background: lightgray;
}
.link-broken.link-animated {
  color: red;
}
.link-broken:not(.link-animated) {
  color: #c90b0b;
}

/* Basic styling for the select dropdown */
.searchable-select {
  position: relative;
  display: inline-block;
  font-size: 14px;
  /* width: 200px; */
}

.searchable-select input {
  width: 100%;
  /* padding: 8px;
  font-size: 16px; */
  box-sizing: border-box;
  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
}

.options-container {
  display: none;
  position: absolute;
  z-index: 999;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.options-container div {
  padding: 4px;
  cursor: pointer;
}

.options-container div:hover {
  background-color: #f1f1f1;
}
