* {
  box-sizing: border-box;
}

body {
  background-color: #e9e9e9;
  font-family: 'Lato', sans-serif;
}

.center {
  text-align: center;
}

.hidden {
  display: none !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  list-style-type: none;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

.navbarBtns {
  display: flex;
  margin: 0;
}

.navbarBtn {
  display: inline-block;
}

.navbarBtnLink {
  text-decoration: none;
}

.navbarText {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
}

.navbarBtnLink:hover {
  background-color: #ddd;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 330px;
  height: 160px;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 30%);
}

.cardLink {
  color: black;
  text-decoration: none;
}

.cardLink:hover {
  color: #666;
}

.cardBtn {
  margin: 2px;
  padding: 3px 3px 3px 3px;
  font-size: 12px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  box-shadow: 0px 0px 8px #d9d9d9;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
}

.userIcon {
  border-radius: 50%;
}

.sheet {
  padding: 20px;
  background-color: #fefefe;
  border-radius: 4px;
}

.itemTab {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.itemKey {
  width: 350px;
  padding: 16px;
  margin: 4px;
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.editor textarea {
  min-width: 100%;
  height: 400px;
  font-size: 16px;
}

.markdown {
  font-size: 17px;
  line-height: 1.33;
}
.markdown p {
  text-indent: 32px;
}
