@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --navbar-height: 3.1875rem;
  --page-margin-top: calc(var(--navbar-height) + 1rem);
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .lora {
  font-family: 'Lora', serif;
  scroll-margin-top: var(--page-margin-top);
}

ul, ol {
  padding-inline-start: 2.5rem;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9;
}

main {
  margin: var(--page-margin-top) 0 2rem;
  flex-grow: 1;
}

footer {
  padding: 1rem;
  background-color: #d8d8d8;
}

.text-start {
  text-align: start !important;
}

.center {
  text-align: center;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.page {
  padding: 0 16vw;
}

@media only screen and (max-device-width: 480px) {
  html {
    font-size: 200%;
  }

  .page {
    padding: 0 2vw;
  }
}

.big-text {
  font-size: 1.25rem;
}

.p-indent p, p.p-indent {
  text-indent: 2rem;
}

header {
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: #e9e9e9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border: 0.0625rem solid #e7e7e7;
  border-radius: 0.25rem;
  background-color: #f3f3f3;
  max-height: var(--navbar-height);
}

.navbarBtns {
  display: flex;
  align-items: stretch;
  padding: 0;
  margin: 0;
}

.navbarBtn {
  display: inline-flex;
  margin: 0;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbarBtnLink {
  text-decoration: none;
  transition: border-radius 0.25s;
}

.navbarBtnLink:hover {
  background-color: #e2e2e2;
}

.navbarBtn.selected .navbarBtnLink {
  background-color: #ddd;
  border-radius: 0.5rem;
}

.navbarText {
  display: block;
  color: #666;
  text-align: center;
  padding: 0.875rem 1rem;
  flex-grow: 1;
  white-space: nowrap;
}

.button {
  cursor: pointer;
  border: 0.0625rem solid #e7e7e7;
  border-radius: 0.25rem;
  background-color: #f3f3f3;
  padding: 0.5rem 0.75rem;
  color: #666;
  white-space: nowrap;
  text-decoration: none;
}
.button.large {
  padding: 0.875rem 1rem;
  font-size: large;
}
.button:disabled {
  cursor: default;
}

.pfp {
  display: flex;
  margin: 0.25rem 0.5rem;
  margin-right: 0;
}

.pfp img {
  border-radius: 50%;
  object-fit: cover;
  height: 2.4375rem;
  width: 2.4375rem;
}

.user-dropdown {
  position: absolute;
  top: 3.0625rem;
  right: 0;
  min-width: 100%;
  border: 0.0625rem solid #e7e7e7;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: #f3f3f3;
  /* transition: max-height 0.25s ease-in-out; */
}

.type-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.625rem;
  /* TODO we probably want to change these y-margins */
  margin: 1rem -8vw;
}

@media only screen and (max-device-width: 480px) {
  .type-card-container {
    margin-right: 0;
    margin-left: 0;
  }  
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr;
  gap: 0.625rem;
}

.card {
  box-shadow: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 20%);
  transition: box-shadow 0.3s;
  display: grid;
  grid-template-columns: inherit;
  grid-column: 1 / 4;
  border-radius: 0.25rem;
}

.card.item-type {
  width: 20.625rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem 0 rgb(0 0 0 / 30%);
}

.card.item-type div {
  height: 2.75rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.cardLink {
  color: black;
  text-decoration: none;
  flex-grow: 3;
}

.item-type .cardLink div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardLink h2 {
  margin: 0;
}

.cardBtn {
  margin: 0.125rem;
  padding: 0.1875rem 0.1875rem 0.1875rem 0.1875rem;
  font-size: 0.75rem;
  border: 0.0625rem solid #c4c4c4;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem #d9d9d9;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: -2rem;
}

.color-error {
  color: red;
}
.color-success {
  color: green;
}

.userIcon {
  display: inline-flex;
  position: relative;
}

.userIcon img, img.userIcon {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.userIcon .pfpEdit {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #fefefe;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  cursor: pointer;
}
.userIcon .pfpEdit:hover {
  opacity: 0.75;
}

.sheet {
  padding: 1.25rem;
  background-color: #fefefe;
  border-radius: 0.25rem;
  box-shadow: silver 0.125rem 0.125rem 0.3125rem 0;
}

.itemTab {
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem;
  background-color: #f5f5f5;
  border: 0.0625rem solid #e3e3e3;
  border-radius: 0.25rem;
}

.itemKey {
  min-width: 8rem;
  max-width: calc(25% - 0.5rem);
  padding: 1rem;
  margin: 0.25rem;
  background-color: white;
  border: 0.0625rem solid #e3e3e3;
  border-radius: 0.25rem;
}

@media only screen and (max-width: 1300px) {
  .itemKey {
    max-width: calc(33.333% - 0.5rem);
  }
}

@media only screen and (max-width: 1080px) {
  .itemKey {
    max-width: calc(50% - 0.5rem);
  }
}

@media only screen and (max-width: 512px) {
  .itemKey {
    max-width: 100%;
  }
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 15;
  background-color: #0007;
  margin: 0;
  max-width: 100vw;
  justify-content: center;
  align-items: center;
}

.timeline {
  display: flex;
}

.timeline-line {
  position: relative;
  height: 100%;
  width: 0.5rem;
  background-color: silver;
}

.timeline-point {
  border-radius: 0.5rem;
  border: 0.5rem solid silver;
  position: absolute;
  left: -0.25rem;
}

.gallery .itemKey {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.gallery img {
  border: 3px inset silver;
  border-radius: 0.25rem;
  object-fit: contain;
}

.gallery .label {
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.25rem;
}

.gallery .itemKey.modal img {
  max-height: calc(95vh - 1rem);
  max-width: 95vw;
}

.gallery .itemKey.modal .label {
  margin-top: 0.5rem;
}

.notes {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.25rem 1rem;
}

@media only screen and (max-device-width: 480px) {
  .notes {
    grid-template-columns: 1fr;
  }
}

table {
  border-collapse: collapse;
  border-radius: 0.25rem;
  overflow: hidden;
}
table thead {
  background-color: #f3f3f3;
}
table th {
  padding: 0.25rem 0.5rem;
}
table tr:nth-child(even) {
  background-color: #e9e9e9;
}
table td {
  padding: 0.0625rem 0.375rem;
}
table td:not(:last-child), table th:not(:last-child) {
  border-right: 1px solid silver;
}

.nowrap {
  white-space: nowrap;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input, select {
  padding: 0.375rem;
  font-size: 1rem;
  border: 0.0625rem solid silver;
  border-radius: 0.25rem;
}

button {
  padding: 0.375rem 0.75rem;
  color: black;
  background-color: #f0f0f0;
  font-size: 0.875rem;
  border: 0.05625rem solid silver;
  border-radius: 0.5rem;
  transition: box-shadow 0.1s;
}

button:hover:not(:disabled) {
  box-shadow: silver 0 0 0.25rem;
}

button:active:not(:disabled) {
  background-color: #e2e2e2;
}

button:disabled {
  color: #888;
  border-color: #ddd;
}
 
.inputGroup {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 3fr 4fr;
  gap: 0.5rem;
}

@media only screen and (max-device-width: 480px) {
  .inputGroup {
    grid-template-columns: 1fr 2fr;
  }
}

.editor {
  display: grid;
  margin: 0.75rem 0;
  position: relative;
}

.editor .chars {
  position: absolute;
  bottom: 0.125rem;
  right: 0.25rem;
  color: silver;
}

.editor::after {
  grid-area: 1 / 1 / 2 / 2;
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}

.editor textarea {
  overflow: hidden;
  resize: none;
}

.editor::after,
.editor textarea {
  grid-area: 1 / 1 / 2 / 2;
  font-family: monospace;
  font-size: 1rem;
  padding: 0.75rem;
  background-color: #fefefe;
  border-radius: 0.25rem;
  border: none;
  outline: none;
}

/* .editor::after:focus, */
.editor textarea:focus {
  box-shadow: black 0 0.125rem 0.3125rem 0;
}

.markdown {
  font-size: 1.0625rem;
  line-height: 1.33;
  overflow-wrap: break-word;
}
.rich-editor {
  padding: 0 1.75rem 0 2.5rem;
  min-height: 2rem;
}
.md-editor {
  outline: none;
  min-height: 2rem;
  min-width: 2rem;
}
.md-editor .selected {
  /* box-shadow: 2px 2px 8px 1px rgb(0, 0, 0, 0.25); */
  /* border-radius: 0.25rem; */
  box-sizing: content-box;
  border-left: 0.25rem solid #00a2ff;
  outline: none;
  /* text-indent: 2rem; */
  padding: 0 0.75rem 0 0.5rem;
  min-height: 2rem;
}
.md-editor :not(.selected) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.md-editor.single-line p {
  padding: 0;
  margin: 0;
}

.editor-handle {
  position: relative;
  /* left: calc(-100% - 0.5rem); */
  /* left: -3.5rem; */
  display: flex;
  /* flex-direction: row-reverse; */
  height: 1.5rem;
  margin-bottom: -1.5rem;
  opacity: 0.8;
  pointer-events: none;
}
.editor-handle div {
  pointer-events: all;
  display: flex;
  border: 1px solid black;
  border-radius: 0.375rem;
  overflow: hidden;
}
.editor-handle button {
  padding: 0 0.25rem;
  border: none;
  border-radius: 0;
}

.markdown::after {
  content: "";
  display: block;
  clear: both;
}

.markdown p {
  /* text-indent: 2rem; */
  padding: 0 0.75rem;
  min-height: 2rem;
}

.markdown img {
  max-width: 100%;
}

.markdown aside {
  float: right;
  clear: right;
  width: 33%;
  padding: 0.25rem;
  margin: 0.5rem;
  border: 0.05625rem solid silver;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
}

@media only screen and (max-device-width: 480px) {
  .markdown aside {
    width: 50%;
  }
}

.markdown aside>.img-container,
.markdown aside>div>.img-container,
.markdown aside>.img-container>img,
.markdown aside>div>.img-container>img {
  width: 100%;
  border-radius: 0.875rem !important;
  display: flex;
}

.markdown ul {
  margin-top: 0;
}

.markdown .list-label {
  margin: 10px 0 0;
  display: block;
}

h4, h5 {
  margin-bottom: 0.25rem;
}

/* EasyMDE styles */
.EasyMDEContainer {
  position: relative;
}

.editor-toolbar:not(.fullscreen) {
  position: sticky !important;
  top: 47px;
  z-index: 2;
  background-color: #e9e9e9;
}

.editor-preview-side:not(.fullscreen) {
  z-index: 1 !important;
}

/* Fancy Links */
.link {
  display: inline;
  position: relative;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.link.link-animated {
  color: #069;
}
.link:not(.link-animated) {
  color: black;
}
.link:focus, .link:hover {
  outline: none;
}
.link:focus.link-broken, .link:hover.link-broken {
  color: red;
}
.link:focus:not(.link-broken).link-animated, .link:hover:not(.link-broken).link-animated {
  color: #069;
}
.link:focus:not(.link-broken):not(.link-animated), .link:hover:not(.link-broken):not(.link-animated) {
  color: #666;
}
.link-animated {
  text-decoration: none;
  background-image: linear-gradient(#069, #069);
  background-size: 100% 0;
  background-repeat: no-repeat;
  background-position: 0 calc(100% - 0.125rem);
  transition: background-size 0.1s ease, background-position-y 0.1s ease;
}
.link-animated:hover,
.link-animated:focus {
  background-size: 100% 0.125rem;
  background-position-y: bottom;
}
.link-animated.link-broken {
  background-image: linear-gradient(red, red);
}
.link-background {
  padding: 0.1875rem 0.625rem 0.1875rem 0.625rem;
  border-radius: 50px;
  background: lightgray;
}
.link-broken.link-animated {
  color: red;
}
.link-broken:not(.link-animated) {
  color: #c90b0b;
}
.link.link-selected {
  color: #636363 !important;
}
.link-animated.link-selected:after {
  background: #636363 !important;
}
.link.disabled {
  pointer-events: none;
  cursor: default;
  color: #666;
}

/* Badges */
.badge-anchor {
  position: relative;
}

.badge {
  background-color: #c42d2d;
  color: #f3f3f3;
  position: absolute;
  z-index: 2;
  text-align: center;
  min-width: 1.25rem;
  height: 1.25rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  padding: 0.125rem;
  right: -0.5rem;
  top: -0.5rem;
}

header .badge {
  z-index: 4;
}

.badge.badge-large {
  min-width: 1.75rem;
  height: 1.75rem;
  border-radius: 1.75rem;
  font-size: 1.25rem;
  padding: 0.25rem;
  right: -0.75rem;
  top: -0.375rem;
}

.clickable {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Basic styling for the select dropdown */
.searchable-select {
  position: relative;
  display: inline-block;
  font-size: 0.875rem;
  /* width: 200px; */
}

.searchable-select input {
  width: 100%;
  /* padding: 0.5rem;
  font-size: 1rem; */
  box-sizing: border-box;
  /* border: 0.0625rem solid #ccc; */
  /* border-radius: 0.25rem; */
}

.options-container {
  display: none;
  position: absolute;
  z-index: 999;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff;
  border: 0.0625rem solid #ccc;
  box-sizing: border-box;
}

.options-container .option-group-heading {
  padding: 0.125rem;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.options-container .option {
  padding: 0.25rem;
  cursor: pointer;
}

.options-container .option:hover {
  background-color: #f1f1f1;
}

/* Slider Switches */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

@media only screen and (max-device-width: 480px) {
  .switch {
    width: 96px;
    height: 48px;
  }
  
  .slider {
    border-radius: 48px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 36px;
    width: 36px;
    left: 6px;
    bottom: 6px;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(48px);
    -ms-transform: translateX(48px);
    transform: translateX(48px);
  }
}

/* Generic classes */
.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-start {
  align-items: start;
}
.align-center {
  align-items: center;
}
.align-stretch {
  align-items: stretch;
}
.align-baseline {
  align-items: baseline;
}
.align-end {
  align-items: end;
}
.align-self-start {
  align-self: start;
}
.align-self-end {
  align-self: end;
}

.justify-start {
  justify-content: start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}
.justify-between {
  justify-content: space-between;
}

.grow-0 {
  flex-grow: 0;
}
.grow-1 {
  flex-grow: 1;
}
.grow-2 {
  flex-grow: 2;
}
.grow-3 {
  flex-grow: 3;
}
.grow-4 {
  flex-grow: 4;
}
.shrink-1 {
  flex-shrink: 1;
}

.gap-0 {
  gap: 0;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-4 {
  gap: 1rem;
}

.grid {
  display: grid;
}
.grid-inherit {
  grid-template-columns: inherit;
}

.row-1 {
  grid-row: 1 / 1;
}
.row-2 {
  grid-row: 2 / 2;
}
.row-3 {
  grid-row: 3 / 3;
}
.col-1 {
  grid-column: 1 / 1;
}
.col-2 {
  grid-column: 2 / 2;
}
.col-3 {
  grid-column: 3 / 3;
}

.ma-auto {
  margin: auto;
}
.ma-0 {
  margin: 0;
}
.ma-1 {
  margin: 0.25rem;
}
.ma-2 {
  margin: 0.5rem;
}


.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}

.mr-1 {
  margin-right: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-8 {
  margin-top: 2rem;
}

.pa-0 {
  padding: 0;
}
.pa-1 {
  padding: 0.25rem;
}
.pa-2 {
  padding: 0.5rem;
}

.px-1 {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}
.px-2 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.px-3 {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.px-4 {
  padding-right: 1rem;
  padding-left: 1rem;
}
.px-8 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pl-0 {
  padding-left: 0;
}
.pl-1 {
  padding-left: 0.25rem;
}
.pl-2 {
  padding-left: 0.5rem;
}

.pr-0 {
  padding-right: 0;
}
.pr-1 {
  padding-right: 0.25rem;
}
.pr-2 {
  padding-right: 0.5rem;
}

.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}

.scroll-x {
  overflow-x: auto;
}
