body {
  background-color: #e9e9e9;
  font-family: 'Lato', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  list-style-type: none;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

.navbarBtns {
  display: flex;
  margin: 0;
}

.navbarBtn {
  display: inline-block;
}

.navbarBtnLink {
  text-decoration: none;
}

.navbarText {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
}

.navbarBtnLink:hover {
  background-color: #ddd;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
}