extends layout.pug

block content
  //- error msg table
  -
    const errorMsgTable = {
      401: 'You are not authorized to view this page. If you believe you should be, make sure you are logged in and try again.',
      403: 'Your account does not have sufficient permissions to view this page. If you believe this is an error, please contact the page owner.',
      404: 'Uh oh! It looks like the page you\'re looking for doesn\'t exist. If you believe it should, go bug Carl about it :D',
      500: 'Uh oh! Looks like something went wrong whilst trying to render this page. If you want something to be done about this shameful negligence, go bug Carl about it :D',
    };
    const defaultErrorMsg = 'Uh oh! There seems to have been an error so strange not even Carl could think of a bad joke to go with it. Apologies.'
  div
    div.error
      h1 Error #{code}
      img(src=`https://http.cat/${code}` style={ height: '90%', 'object-fit': 'contain' })
      p #{errorMsgTable[code] || defaultErrorMsg}
