extends layout.pug

block content
  h2 Login
  form( action=`${ADDR_PREFIX}/login`, method='post' )
    div
      label( for='username' ) Username: 
      input( id='username' type='text' name='username' )
    div
      label( for='password' ) Password: 
      input( id='password' type='password' name='password' )
    div
      input( type='submit' value='Login' )
  p
    a( href=`${ADDR_PREFIX}/signup` ) Create an Account