extends layout.pug

block content
  h2 Login
  form#login( method='post' )
    div.inputGroup
      label( for='username' ) Username: 
      input( id='username' type='text' name='username' )
      script.
        const form = document.forms.login;
        form.username.addEventListener('input', () => {
          form.username.value = form.username.value.trim();
        })
    div.inputGroup
      label( for='password' ) Password: 
      input( id='password' type='password' name='password' )
    div
      button( type='submit' ) Login
    if error
      div
        span( style={'font-size': 'small'} ).color-error= error
  p
    a.link.link-animated( href=`${ADDR_PREFIX}/signup${searchQueries ? `?${searchQueries}`: ''}` ) Create an Account