mixin authorList(authors)
  - let i = 0;
  span
    each val, key in authors
      -
        let suff;
        if (i === Object.keys(authors).length - 1) suff = '';
        else if (i === Object.keys(authors).length - 2) suff = Object.keys(authors).length === 2 ? ' and ' : ', and ';
        else suff = ', ';
      a.link.link-animated( href=`${ADDR_PREFIX}/users/${key}` )= val
      | #{suff}
      - i++;