extends layout.pug

block content
  h1.center #{T('Access Denied')}
  .sheet
    p #{T('This request has been blocked by our anti-spam system. If you believe this is an error, please report it by sending an email to ')}
      a.link.link-animated(href='mailto:contact@archivium.net') contact@archivium.net
      | .
