block append scripts
  script.
    function

.notes
  .sheet
  .sheet
    ul.navbarBtns.flex-col.gap-2
      li.navbarBtn.big-text
        h3.link.link-animated.ma-0( onclick='newNote()' ) New Note
      li.navbarBtn.big-text
        h3.link.link-animated.ma-0( onclick='listNotes()' ) List Notes
