extends ../layout.pug

block scripts
  script
    include /static/scripts/cardUtils.js
    include /static/scripts/listUtils.js

block content
  h1.center Items
  div
    label( for='sort' )
      b #{T('Sort by')}: 
    select( id='sort' name='sort' )
      option( value='updated_at' ) Updated
      option( value='created_at' ) Created
      option( value='item_type' ) Type
      option( value='title' ) Title
      option( value='author' ) Author
    select( id='sort_order' name='sort_order' )
      option( value='desc' ) Descending
      option( value='asc' ) Ascending
  hr
  include ../components/itemList.pug
