extends ../layout.pug

block styles
  link( rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css" )

block scripts
  script 
    include /static/scripts/domUtils.js
    include /static/scripts/fetchUtils.js
    include /static/scripts/markdown/parse.js
    include /static/scripts/markdown/render.js

block breadcrumbs
  a.link.link-animated( href=`${ADDR_PREFIX}/` ) #{T('Home')}
  |  / 
  span #{T('News')}

block content
  h1.center Archivium News
  
  .d-flex.flex-col.gap-4
    each content in newsletters
      include ../components/mdSheet.pug