extends ../layout.pug

block styles
  link( rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css" )

block scripts
  script( src="https://unpkg.com/easymde/dist/easymde.min.js" )
  script
    include /static/scripts/domUtils.js
    include /static/scripts/fetchUtils.js
    include /static/scripts/markdown/parse.js
    include /static/scripts/markdown/render.js
    include /static/scripts/cardUtils.js
    include /static/scripts/easyMDE.js

block breadcrumbs
  a.link.link-animated( href=`${ADDR_PREFIX}/` ) #{T('Home')}
  |  / 
  a.link.link-animated( href=`${ADDR_PREFIX}/notes` ) #{T('Notes')}

block content
  h1.center Notes
  
  include ../components/notes.pug
