extends ../layout.pug
include ../mixins.pug

block title
  title Universes — Archivium

block breadcrumbs
  a.link.link-animated( href=`${ADDR_PREFIX}/` ) #{T('Home')}
  |  / 
  span #{T('Universes')}

block content
  script
    include /static/scripts/cardUtils.js
    include /static/scripts/fetchUtils.js
  
  h1.center Universes
  hr
  include ../components/universeList.pug
